<button type="button" data-ng-click="vm.showAddModal()">Add a new post</button>
<ul>
  <li data-ng-repeat="post in vm.posts">
    <article>
      <!--<img data-ng-src="{{post.image}}" alt="Картинка поста" data-ng-if="post.image">-->
      <p>Title: {{post.title}}</p>
      <p>Author: {{post.author}}</p>
      <p>Date: {{post.date | date: 'yyyy-MM-dd HH:mm'}}</p>
      <p>Content: {{post.content}}</p>
      <button type="button" data-ng-click="vm.deletePost(post._id)">Delete</button>
      <button type="button" data-ng-click="vm.editPost(post)">Edit</button>
      <button type="button" ui-sref="detail({ postID: post._id })">More...</button>
    </article>

    <!-- EDIT Modal -->
    <div class="modal" data-ng-if="vm.showEditModalFlag">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" data-ng-click="vm.closeEditModal()">&times;</span>
          <h2>Редактирование пост: {{post.title}}</h2>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Введите автора" data-ng-model="vm.editAuthor">
          <input type="text" placeholder="Введите название поста" data-ng-model="vm.editTitle">
          <textarea placeholder="Введите контент поста" data-ng-model="vm.editContent">
      </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" data-ng-click="vm.closeEditModal()">Отмена</button>
          <button type="button" data-ng-click="vm.updatePost(vm.editId, vm.editAuthor, vm.editTitle, vm.editContent)">Сохранить</button>
        </div>
      </div>

    </div>
  </li>
</ul>

<!-- The Modal -->
<div id="myModal" class="modal" data-ng-if="vm.showAddModalFlag">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" data-ng-click="vm.closeAddModal()">&times;</span>
      <h2>Дабавить новый пост</h2>
    </div>
    <div class="modal-body">
      <input type="text" placeholder="Введите автора" data-ng-model="vm.addAuthor">
      <input type="text" placeholder="Введите название поста" data-ng-model="vm.addTitle">
      <textarea placeholder="Введите контент поста" data-ng-model="vm.addContent">
      </textarea>
      <input type="file" ng-file-model="vm.image">
    </div>
    <div class="modal-footer">
      <button type="button" data-ng-click="vm.closeAddModal()">Отмена</button>
      <button type="button" data-ng-click="vm.savePost(vm.addAuthor, vm.addTitle, vm.addContent, vm.image)">Сохранить</button>
    </div>
  </div>

</div>